@model IEnumerable<ShoppingCart.Application.ViewModels.SubmissionViewModel>

@{
    ViewData["Title"] = "StudentSubmission";
}

<h1>My Submission</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-8 mt-2">
            <div class="list-group">
                <a href="Details?id=@WebApplication1.Utility.Encryption.SymmetricEncrypt(item.id.ToString())" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.task.taskName</h5>
                        <small>@item.task.name @item.task.surname</small>
                    </div>
                    <p class="mb-1">@item.task.description</p>
                    <small>@item.file</small>
                </a>
            </div>
        </div>
        <div class="col-4">
            <!--<a href="comments/create?id=@item.id" class="btn btn-primary">View/Post Comments</a>-->
            @Html.ActionLink("Comments", "Create", "Comments", new { id = WebApplication1.Utility.Encryption.SymmetricEncrypt(item.id.ToString()) })
            @Html.ActionLink("Download", "DownloadFile", "Submissions", new { id = WebApplication1.Utility.Encryption.SymmetricEncrypt(item.id.ToString()) })
        </div>
    }
</div>
