@model IEnumerable<ShoppingCart.Application.ViewModels.TaskViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

@if (User.IsInRole("teacher"))
{
    <p> <a asp-action="Create">Create New Task</a> </p>
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.taskName</h5>
                    <p class="card-text">Description: @item.description.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Issue Date: @item.issueDate</li>
                    <li class="list-group-item">Deadline Date: @item.deadline</li>
                    <li class="list-group-item">Lecturer Name: @item.name @item.surname</li>
                    <li class="list-group-item">Lecturer Email: @item.email</li>
                </ul>
                <div class="card-body">
                    @if (User.IsInRole("teacher"))
                    {
                        <a>@Html.ActionLink("Delete", "delete", "tasks", new { id = item.id })</a>
                        <a>@Html.ActionLink("Submit", "create", "submissions", new { id = item.id })</a>
                    }

                    @if (User.IsInRole("student"))
                    {
                        <a>@Html.ActionLink("Submit", "create", "submissions", new { id = item.id })</a>
                    }

                </div>
            </div>
        </div>
    }
</div>


